@import url('https://fonts.cdnfonts.com/css/tf2-build');
@import url('https://fonts.cdnfonts.com/css/tf2-secondary');

* {
  box-sizing: border-box;
}

.element {
  all: none;
}

a:link {
  color: rgb(153, 204, 255);
  text-shadow: 3px 2px 2px #000000;
}

a:visited {
  color: rgb(134, 80, 172);
  text-shadow: 3px 2px 2px #000000;
}

a:hover {
  color: #CF6A32;
  text-shadow: 3px 2px 2px #000000;
}

a:active {
  color: rgb(134, 80, 172);
  text-shadow: 3px 2px 2px #000000;
}

html, body {
  margin: 0;
  padding: 0;
  height: calc(var(--vh, 1vh) * 100);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
}

.hidden {
  display: none !important;
}

body {
  color: white;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  padding: 20px;
}

.fondo_contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88%;
  max-width: 1400px;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px) saturate(120%);
  border-radius: 36px;
  padding: 20px;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.3)
}

.contenedor {
  display: grid;
  grid-template-columns: 60% 40%;
  width: 100%;
  min-height: 92vh;
  color: white;
}

.fila-extra {
  display: none;
  grid-column: span 2;
  text-align: center;
}

.fila-fondo {
  padding-top: 12px;
  padding-bottom: 26px;
  font-family: 'TF2 Secondary', sans-serif;
}

.presentacion-title {
  font-family: 'TF2 Build', sans-serif;
  font-weight: normal;
  font-size: x-large;
}

.presentacion-subtitle {
  font-family: 'TF2 Secondary', sans-serif;
  font-weight: normal;
  font-size: normal;
}

.columna {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

.columna1 {
  border-radius: 16px 0px 0px 16px;
  display: flex;
  flex-direction: column;
}

.col1_cont {
  width: 100%;
}

.botonContainer {
  order: 3;
  margin-top: 16px;
}

.topContainer {
  order: 1;
}

.bottomContainer {
  margin-top: auto;
  order: 2;
}

.settingsTitle {
  margin-top: 20px;
  margin-bottom: 14px;
  font-family: 'TF2 Build', sans-serif;
  font-weight: normal;
  text-shadow: 3px 2px 2px #000000;
}

.settingsSubtitle {
  margin-top: 12px;
  margin-bottom: 6px;
  font-family: 'TF2 Build', sans-serif;
  font-weight: normal;
  text-shadow: 3px 2px 2px #000000;
}

.imgButtonsContainer {
  display: grid;
  gap: 10px;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

img {
  -webkit-tap-highlight-color: transparent;
}

#imgButtonsClasses {
  grid-template-columns: repeat(10, 1fr);
}

.imgButtons1 {
  width: 10%;
  grid-template-columns: repeat(1, 1fr);
}

.imgButtons2 {
  width: 20%;
  grid-template-columns: repeat(2, 1fr);
}

.imgButtons3 {
  width: 30%;
  grid-template-columns: repeat(3, 1fr);
}

.imgButtons4 {
  width: 40%;
  grid-template-columns: repeat(4, 1fr);
}

.imgButtons5 {
  width: 50%;
  grid-template-columns: repeat(5, 1fr);
}

.boton-opcion {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border: 2px solid transparent;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.boton-opcion:hover {
  transform: rotate(3deg) scale(1.2);
  transition: transform 0.3s ease;
  z-index: 2;
}

.boton-opcion.selected {
  filter: drop-shadow(0 0 3px yellow) drop-shadow(0 0 6px yellow);
}



/******************************************************/

.statsContenedor {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 8px;
}

.settingsStatTitle {
  margin-top: 6px;
  margin-bottom: 4px;
  font-family: 'TF2 Build', sans-serif;
  font-weight: normal;
  text-shadow: 3px 2px 2px #000000;
}

.colorPositive {
  color: rgb(153, 204, 255);
}

.colorNegative {
  color: rgb(255, 64, 64);
}

.colorUnusual {
  color: rgb(134, 80, 172);
}

.statDiv {
  width: 250px;
  margin: 0 auto;
}

.range-slider {
  --left-mask: 0%;
  --right-mask: 0%;
  position: relative;
  width: 250px;
  height: 26px;
}

.range-slider .color-track {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 6px;
  background: linear-gradient(to right, 
    #f32121 0%,
    #f32121 6%,
    #f3bb21 18%,
    #f3bb21 27%, 
    #68a166 40%,
    #68a166 60%,
    #f3bb21 73%, 
    #f3bb21 82%,
    #f32121 94%,
    #f32121 100%);
  transform: translateY(-50%);
  border-radius: 3px;
  z-index: 1;
}

.range-slider input[type=range] {
  -webkit-appearance: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0;
  height: 26px;
  background: transparent;
  pointer-events: none;
  z-index: 3;
}

/* Track */
.range-slider input[type=range]::-webkit-slider-runnable-track {
  height: 6px;
  background: transparent;
  z-index: 1;
}

.range-slider input[type=range]::-moz-range-track {
  height: 6px;
  background: transparent;
}

/* Thumb */
.range-slider input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 24px;
  border-radius: 2px;
  background: #6C6C6C;
  border: 1px solid rgba(236, 227, 203, 0.2);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  pointer-events: all;
  margin-top: -9px;
  position: relative;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.range-slider input[type=range]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #6C6C6C;
  cursor: pointer;
  pointer-events: all;
}

.range-slider::before,
.range-slider::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 6px;
  width: 50%;
  background: #191919;
  transform: translateY(-50%);
  z-index: 2;
  pointer-events: none;
  border-radius: 3px;
}

.range-slider::before {
  left: 0;
  width: var(--left-mask);
}

.range-slider::after {
  right: 0;
  width: var(--right-mask);
}

/******************************************************/

.button {
  background-color: rgb(118, 107, 94);
  border: none;
  color: rgb(236, 227, 203);
  font-family: 'TF2 Build', sans-serif;
  font-size: xx-large;
  padding: 10px 40px 10px 40px;
  border-radius: 6px;
  margin-top: 14px;
  margin-bottom: 24px;
}

.button:hover {
  background-color: rgb(146, 72, 56);
}

.columna2 {
  background-color: rgba(36, 32, 27, 1.0);
  display: flex;
  flex-direction: column;
  padding-left: 14px;
  padding-right: 14px;
  align-items: center;
  border-radius: 0px 16px 16px 0px;
  padding-bottom: 16px;
}

.imageBackground {
  position: relative;
  margin-top: 20px;
  width: 290px;
  height: 290px;
  background-color: rgb(60, 54, 47);
  border-radius: 26px;
  overflow: visible;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 15px;
  box-sizing: border-box;
}

.sello {
  position: absolute;
  width: 68px;
  height: 68px;
  bottom: -16px;
  right: -28px;
  z-index: 2;
}

/* NOTE 1200px */

@media screen and (max-width: 1200px) {

  html, body {
    height: 100vh;
    overflow: hidden;
  }

  .wrapper {
    height: 100%; /* para que use todo el alto del body */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fondo_contenedor {
    min-height: 100%;
    height: 100%;
    
  }

  .contenedor {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 100%;
    flex: 1;
    min-height: 100%;
    height: 100%;
    overflow-y: scroll;
    border-radius: 16px;
  }

  .contenedor::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .contenedor::-webkit-scrollbar-track {
    background: transparent;
  }

  .contenedor::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 3px;
    transition: background-color 0.3s ease;
  }

  .contenedor::-webkit-scrollbar-thumb:hover {
    background-color: rgba(100, 100, 100, 0.8);
  }

  .fila-extra {
    display: block;
    margin-bottom: 10px;
  }

  .fila-fondo {
    order: 3;
  }

  .columna{
    width: 100%;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .col1_cont {
    padding-left: 50px;
    padding-right: 50px;
  }

  .columna1 {
    order: 2;
    border-radius: 0px 0px 16px 16px;
    padding-bottom: 32px;
  }
  
  .columna2 {
    order: 1;
    padding-bottom: 32px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 16px 16px 0px 0px;
  }

  .botonContainer {
    order: 0;
    margin-top: 0;
    margin-bottom: 16px;
    background-color: rgba(36, 32, 27, 1.0);
  }

  .topContainer {
    order: 1;
  }

  .bottomContainer {
    order: 2;
    margin-top: 0;
  }

  .imgButtonsContainer {
    width: 360px;
    margin-bottom: 24px;
  }

  #imgButtonsClasses {
    grid-template-columns: repeat(5, 1fr);
  }

  .imgButtons1 {
    width: 72px;
    grid-template-columns: repeat(1, 1fr);
  }

  .imgButtons2 {
    width: 144px;
    grid-template-columns: repeat(2, 1fr);
  }

  .imgButtons3 {
    width: 216px;
    grid-template-columns: repeat(3, 1fr);
  }

  .imgButtons4 {
    width: 288px;
    grid-template-columns: repeat(4, 1fr);
  }

  .imgButtons5 {
    width: 360px;
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 1080px) {
  .statDiv {
    width: 200px;
  }

  .range-slider {
    width: 200px;
  }
}

@media screen and (max-width: 740px) {

  .presentacion-title {
    font-size: larger;
  }

  .presentacion-subtitle {
    font-size: normal;
  }

  .fondo_contenedor {
    width: 95%;
    max-width: 95%;
  }

  .contenedor {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
  }

  .statsContenedor {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .imageBackground {
    width: 200px;
    height: 200px;
  }
  
  .sello {
    width: 50px;
    height: 50px;
    bottom: -8px;
    right: -14px;
  }

  .imgButtonsContainer {
    width: 330px;
    gap: 6px;
    margin-bottom: 36px;
  }

  #powerTitle {
    margin-top: 36px;
  }

  .imgButtons1 {
    width: 80px;
  }

  .imgButtons2 {
    width: 142px;
  }

  .imgButtons3 {
    width: 198px;
    grid-template-columns: repeat(3, 1fr);
  }

  .imgButtons4 {
    width: 264px;
    grid-template-columns: repeat(4, 1fr);
  }

  .imgButtons5 {
    width: 330px;
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 530px) {
  
  html, body {
    height: 100vh;
    overflow: hidden;
  }

  .wrapper {
    padding: 12px;
  }

  .presentacion-title {
    width: 80%;
    text-align: center;
    margin: auto;
    font-size: large;
  }

  .fondo_contenedor {
    min-width: 100%;
    padding: 10px;
  }

  .contenedor {
    width: 100%;
    border-radius: 26px;
  }

  .col1_cont {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .columna1 {
    border-radius: 0px 0px 16px 16px;
  }
  
  .columna2 {
    border-radius: 16px 16px 0px 0px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .imgButtonsContainer {
    width: 100%;
  }

  .imgButtons1 {
    width: 25%;
  }

  .imgButtons2 {
    width: 50%;
  }

  .imgButtons3 {
    width: 60%;
    grid-template-columns: repeat(3, 1fr);
  }

  .imgButtons4 {
    width: 80%;
    grid-template-columns: repeat(4, 1fr);
  }

  .imgButtons5 {
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
  }
}

#title {
  font-family: 'TF2 Build', sans-serif;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 14px;
  font-weight: normal;
  color: rgb(255, 215, 0);      
}

.range {
  font-family: 'TF2 Secondary', sans-serif;
  font-size: large;
}

.stat {
  font-family: 'TF2 Secondary', sans-serif;
  font-size: large;
  margin-bottom: 3px
}